.page_title .inside5{
	background-image:url(../img/about_img/about_bg1.jpg);
	height: 200px; 
}

.about .info{
	background-image: url(../img/about_img/about_bg2.jpg);
	height: 500px;
	margin-top: 20px;
}
.about .info p{
	text-align: center;
	padding-top: 50px;
	line-height: 2;
}

.about .environment{
	display: flex;
	margin-top: 50px;
	margin-left: 50px;
}

.about .environment img{
	width: 500px;
	height: 400px;
	border-radius: 50px;
}

.about .environment .text{
	margin-top: 100px;
	width: 400px;
	height: 300px;
	background-color: #FEE7E7;
	text-align: center;
	border-radius: 50%;
	padding-top: 80px;
}

.environment .text p{
	margin-top: 20px;
}

.environment .dim_pic img{
	width: 250px;
	height: 250px;
}

.about .contact{
	margin-top: 100px;
	display: flex;
}

.contact .contact_info{
	width: 500px;
	margin-left: 50px;
}

.contact .contact_info h3{
	text-align: center;
	padding-bottom: 20px;
}