.page_title .inside4{
	background-image: url(../img/knowledge_img/knowledge_bg1.jpg);
	height: 200px;
}

.knowledge .content{
	display: flex;
	margin-top: 50px;
	flex-wrap: wrap;
	
}

.knowledge .content li{
	width: 354px;
	height: 450px;
	margin-left: 30px;
}

.knowledge .content img{
	width: 354px;
	height: 265px;
}

.knowledge .content h3{
	font-weight: bold;
	margin-bottom: 10px;
}

.knowledge .content h3:hover{
	color: #FF4646;
}

.knowledge li p{
	margin-bottom: 10px;
	padding-left: 10px;
}

.knowledge li span{
	padding-left: 10px;
}

.knowledge .pagination{
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 200px 0 20px 0;
}

.knowledge .pagination li{
	padding-left: 10px;
}

.pagination .-on{
  color: #FF4646;
}
