@import url('reset.css');

*{
	box-sizing: border-box;
}

body{
	font-family: Noto Sans;
	font-size: 16px;
	color: #707070;
	line-height: 1.6;
}

main{
	width: 1200px;
	margin: 0 auto;
}

.sub-title{
	font-size: 24px;
}

.small-title{
	font-size: 20px;
}

a{
	text-decoration: none;
	color: #707070;
}


/*-----------header---------------*/

header{
	display: flex;
	background-color: #FFC9C9;
	height: 60px;
	align-items: center;
	justify-content: center;
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 1200px;
	z-index: 1;
}

header .logo a{
	display: flex;
	padding-right: 80px;
}

header .logo img{
	width: 50px;
}

header .logo h1{
	padding-top: 15px;
}

header nav ul{
	display: flex;
}

nav ul > li{
	padding: 20px;
	position: relative;
}

header nav ol{
	width: 100px;
    background-color: #FFC9C9;
    position: absolute;
	display: none;
	padding: 0;
}

header ol a{
	display: block;
    line-height: 40px;
    text-align: center;
    color: #707070;
}

header ol a:hover{
	background-color: #FFFFFF;	
}

header nav li:hover ol{
  display: block;
}

header .cart{
	display: flex;
	padding-left: 100px;
}

header .cart li{
	padding-right: 30px;
}

header ul a:hover{
	color: #FF4646;
}

header .underline{
	text-decoration: underline;
}

.page_title{
	width: 1200px;
	margin: 0 auto;
}

.page_title h1{
	font-size: 36px;
	color: white;
	text-shadow: 0 0 5px rgba(0,0,0,.5);
	text-align: center;
	padding-top: 50px;
}

/*--------------breadcrumb-----------------*/
.breadcrumb .breadcrumb_list{
	margin-left: 50px;
}

.breadcrumb .breadcrumb_list li{
	display: inline-block;
	margin-right: 10px; 
	margin-top: 20px;
}

.breadcrumb .breadcrumb_list li:before{
	content: "/";
	margin-right: 10px; 
}

.breadcrumb .breadcrumb_list li:first-child:before{
	content: " ";
}

/*.msg{
	width: 50px;
	height: 50px;
	background-color: red;
	position: fixed;
}*/

/*--------------footer-----------------*/

footer{
	display: flex;
	background-color: #FFC9C9;
	padding-top: 10px;
	padding-left: 80px;
	/*margin-top: 50px;*/
	font-size: 12px;
	padding-bottom: 10px;
	width: 100%;
	min-width: 1200px;
}

footer .logo img{
	height: 100px;
}

footer .text{
	padding-top: 10px;
	margin-left: 80px;
}