.page_title .inside2{
	background-image: url(../img/package_img/package_bg1.jpg);
	height: 200px;
	background-repeat: no-repeat;
    background-size: cover;
}

.package table{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #707070;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 50px;
}

.package td{
	padding: 10px 10px;
	width: calc(100%/4);
	border: 1px solid #707070; 
}

.package td:first-child{
	font-weight: bold;
}

.package tr{
	border: 1px solid #707070;
}

.package .list-title{
	font-weight: bold;
}

.package tr:nth-child(10){
	text-decoration: line-through;
}

.package .discount  td{
	color: red;
}

.package p{
	padding-left: 100px;
	padding-bottom: 100px;
}
@media screen  and (max-width: 1199px){
	.package p{
		padding-left: 0;
	}
}

@media screen and (max-width: 991px){
	.package table{
		line-height: 1.6;
	}
		
}

@media screen and (max-width: 575px){
	.package table{
		width: calc(100% - 40px);
		font-size: 14px;
	}
	.package p{
		padding-left: 10px;
	}
}
